body{
    font-family: 'Vollkorn', serif;
}

img{
  padding:1px;
  border:1px solid #021a40;

}

.row{
  padding-left: 50px;
  padding-right: 50px;
}

/*
pageheader
jumbotron
HEADLINES  <------------
stat center
opinion
abhi's picks
videos
footer
*/

.page-header{
    padding: 55px 25px 5px 25px;
}

.page-header img {
  border: 0px;
  height: 100px;
}

.page-header h1{
  padding-left: 120px;
  font-size: 450%;
  color: #00025a;
  font-weight: bolder;
}

/*
pageheader
jumbotron
HEADLINES  <------------
stat center
opinion
abhi's picks
videos
footer
*/

.jumbotron{
  padding-left: 50px;
  padding-right: 50px;
  vertical-align: middle;
  text-align: center;
  font-family: 'Linden Hill', serif;
}

#latestscores{
  /*background-color: #00025a;*/
  font-family: 'Roboto Condensed',sans-serif;
  background-color: #050613;
  color: white;
}

.scorecell{
  margin-top:10px;
  border-right: #C0C0C0 medium solid;
}

/*
pageheader
jumbotron
HEADLINES  <------------
stat center
opinion
abhi's picks
videos
footer
*/

#headlines h1{
  color:  #00025a;
  font-weight: bolder;
  padding-top: 70px;

}

#morestories{
  padding-top: 40px;
  padding-bottom: 100px;
}

#morestoriesbtn {
  padding-top: 100px;
  background-color:#050613 ;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  padding-top: 20px;
}

#morestoriesbtn:hover{
  background-color: #00025a;
}

#explorestories{
  padding-top: 20px;
}

/*Dropdown stuff, credit :http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown*/
.dropbtn {
    background-color:#050613 ;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    padding-bottom: 20px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #00025a;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:9999; //this ensures this element is always on layered first
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

/*
pageheader
jumbotron
headlines
STAT CENTER <---------
opinion
abhi's picks
videos
footer
*/

#scores h1{
  color: white;
  font-weight: bolder;
  font-family: 'Vollkorn', serif;
  padding-bottom: 50px;
}

#next-games{
  padding-bottom: 50px;
}

#scores{
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #00025a;
  color: white;
  font-family: 'Roboto Condensed',sans-serif;
}

#chelsearesults,#leagueresults,#chelseascores,#leaguescores,#chelseaassists,#leagueassists{
  padding-top: 10px;
}

.tab-content {
  padding-bottom: 50px;
}

tr:hover{
  color: black;
}

.danger{
  color:black;
}

#leaguetable h1{
  color: white;
  font-weight: bolder;
}

#leaguetable{
  background-color: #00025a;
  color: white;
}

#leaguetable table{
  border-width: 6px;
}

#chelseacell{
  font-weight: bold;
  color: #FF69B4;
}

/*
pageheader
jumbotron
headlines
stat center
OPINION
abhi's picks
videos
footer
*/

#opinion h1{
  color: #00025a;
  font-weight: bolder;
}

#opinion{
  padding-top: 70px;
  padding-bottom: 100px;
}


/*
pageheader
jumbotron
headlines
stat center
opinion
ABHI'S PICKS <--------
videos
footer
*/

#abhispick h1{
  font-weight: bolder;
}

#abhispick h2{
  padding-bottom: 20px;
}

#abhispick h6{
  padding-bottom: 30px;
}

#abhispick table{
  font-family: 'Roboto Condensed', sans-serif;
  border-width: 6px;
}

#abhispick{
  background-color: #00025a;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

#fantasypicwrapper{
  padding-left: 50px;
}

/*
pageheader
jumbotron
headlines
stat center
opinion
abhi's picks
VIDEOS <-------
footer
*/

#videos h1{
  color: #00025a;
  font-weight: bolder;
  padding-bottom: 50px;
}

#videos{
  padding-top: 70px;
  padding-bottom: 100px;
}

/*Youtube embed dynamic resizing code. Credit to:http://alistapart.com/d/creating-intrinsic-ratios-for-video/example3.html */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
pageheader
jumbotron
stat center
opinion
abhi's picks
videos
FOOTER <-------
*/
#footer h1{
    font-family: 'Vollkorn', serif;
    font-weight: bolder;
}

#footer{
  padding-top: 50px;
  padding-bottom: 70px;
  background-color:  #050613;
  color:white;
  font-family: 'Roboto Condensed',sans-serif;
}
