body{
    font-family: 'Vollkorn', serif;
}

.row{
  padding-left: 50px;
  padding-right: 50px;
}

/*
PAGEHEADER <------------
jumbotron
headlines
scores
opinion
table
videos
footer
*/

.page-header{
    padding: 55px 25px 5px 25px;
}

.page-header img {
  height: 100px;
}

.page-header h1{
  padding-left: 120px;
  font-size: 450%;
  color: #00025a;
  font-weight: bolder;
}

/*
pageheader
JUMBOTRON  <------------
headlines
scores
opinion
table
videos
footer
*/

.jumbotron{
  padding-left: 50px;
  padding-right: 50px;
  vertical-align: middle;
  text-align: center;
  font-family: 'Linden Hill', serif;
}

/*
pageheader
jumbotron
HEADLINES  <------------
scores
opinion
table
videos
footer
*/

#headlines h1{
  color:  #00025a;
  font-weight: bolder;
}

#morestories{
  padding-top: 50px;
  padding-bottom: 100px;
}

/*
pageheader
jumbotron
headlines
SCORES <------------
opinion
table
videos
footer
*/

#scores h1{
  color: white;
  font-weight: bolder;
}

#scores{
  padding-top: 150px;
  padding-bottom: 170px;
  background-color: #00025a;
  color: white;
    font-family: 'Linden Hill', serif;
}

/*
pageheader
jumbotron
headlines
scores
OPINION <------------
table
videos
footer
*/

#opinion h1{
  color: #00025a;
  font-weight: bolder;
}

#opinion{
  padding-top: 100px;
  padding-bottom: 100px;
}

/*
pageheader
jumbotron
headlines
scores
opinion
TABLE <------------
videos
footer
*/

#leaguetable h1{
  color: white;
  font-weight: bolder;
}

#leaguetable{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #00025a;
  color: white;
}

#chelseatableentry{
  font-weight: bolder;
  font-size: 200%;
  color: pink;
}

/*
pageheader
jumbotron
headlines
scores
opinion
table
VIDEOS <------------
footer
*/

#videos h1{
  color:  #00025a;
  font-weight: bolder;
}

#videos{
  padding-top: 100px;
  padding-bottom: 100px;
}

/*
pageheader
jumbotron
headlines
scores
opinion
table
videos
FOOTER <------------
*/
#footer h1{
    font-family: 'Vollkorn', serif;
    font-weight: bolder;
}

#footer{
  padding-top: 50px;
  padding-bottom: 70px;
  width: 100%;
  background-color:  #050613;
  color:white;
  font-family: 'Roboto Condensed',sans-serif;
}


/*Youtube embed dynamic resizing code. Credit to:http://alistapart.com/d/creating-intrinsic-ratios-for-video/example3.html */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*Dropdown stuff, credit :http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown*/
.dropbtn {
    background-color:#050613 ;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #00025a;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}
